* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(65,65,63);
    background: linear-gradient(83deg, rgba(65,65,63,1) 0%, rgba(80,65,41,1) 61%, rgba(86,85,85,1) 100%);
}

html {
    height: 100%;
}

:root {
    --accent-color: #E8974A;
    --hl-top: 100px;
}

#app-container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#binTable {
    text-align: center;
    font-family: monospace;
    margin: 0 auto;
    padding: 30px 0 30px 0;
    overflow: hidden;
}


#binTable-wrapper {
    width: 100%;
    overflow: scroll;
}

#binTable__input1, #binTable__input2, #binTable__result {
    font-size: 33px;
}

#binTable__input1 td, #binTable__input2 td {
    cursor: pointer;
}

.binTable__highlight-bar {
    position: absolute;
    background: var(--accent-color);
    width: 8px;
    height: 40px;
    left: 29px;
}

.binTable__highlight-bar__input1 {
    top: var(--hl-top);
}

.binTable__highlight-bar__input2 {
    top: calc(var(--hl-top) + 44px);
}

.binTable__highlight-bar__result {
    top: calc(var(--hl-top) + 107px);
}

#binTable__result {
    cursor: pointer;
}

#navi {
    margin: 0 auto;
    font-size: 24px;
}

.navi__item {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2px;
    cursor: pointer;
    color: #B0AEAE;
}

.navi__item__highlight {
    color: white;
    border-bottom: 5px solid var(--accent-color);
}

#navi__item-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

#navi__item-list li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.output-bar__copy-btn {
    width: 66px;
    height: 100%;
    font-size: 18px;
    color: white;
    background: #73B97A;
    border-radius: 2px;
    border: 1px solid #787777;
    cursor: pointer;
    flex-grow: 0;
}

.output-bar__copy-btn:hover {
    opacity: 85%;
}

.output-bar__label {
    padding-top: 13px;
    padding-right: 10px;
    font-family: monospace;
    font-size: 21px;
    width: 72px;
    text-align: right;
}

.output-bar__input {
    flex-grow: 1;
    height: 100%;
    outline: none;
    font-size: 24px;
    padding-left: 10px;
    border: 1px solid #787777
}

.output-bar__wrapper {
    display: flex;
    justify-content: center;
    height: 53px;
}

.ui__button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #F3F3F3;
    border: 1px solid #979797;
    font-size: 17px;
    width: 73px;
    height: 43px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 2px;
}

.ui__button:hover {
    outline: 2px solid rgb(170, 206, 69);
}

.ui__button:active {
    opacity: 70%;
}

#ui__bitwise-buttons {
    display:inline-block;
}

#ui__bit-mnp-buttons {
    display:inline-block;
}

.ui__bit-mnp-button__disabled {
    background: #d2d1d1;
    cursor: auto;
}

.ui__button__grayout {
    background: #BFBFBF;
}

.ui__button-wrapper {
    display: flex;
    justify-content: space-between;
}

#user-input__bar {
    flex-grow: 1;
    height: 100%;
    outline: none;
    font-size: 24px;
    padding-left: 10px;
    border: 1px solid #787777
}

#user-input__container {
    margin-top: 0px;
}

.user-input__enter-btn {
    flex-grow: 0;
    width: 66px;
    height: 100%;
    font-size: 18px;
    color: white;
    border-radius: 2px;
    background: #8EBEE1;
    cursor: pointer;
    border: 1px solid #787777
}

.user-input__enter-btn:hover {
    opacity: 85%;
}

.user-input__enter-btn:active {
    opacity: 70%;
}

.user-input__enter-btn__disabled {
    opacity: 73%;
    cursor: auto;
}

.user-input__bar-wrapper {
    justify-content: center;
    display: flex;
    vertical-align: middle;
    cursor: pointer;
    height: 53px;
}

#user-input__radix-select {
    -webkit-appearance: none;
    appearance: none;
    font-size: 21px;
    font-family: monospace;
    padding-left: 23px;
    width: 72px;
    height: 100%;
    position: relative;
    color: rgb(142, 190, 225);
    background: transparent;
    border: none;
}

#user-input__radix-select-arrow {
    position: absolute;
    left: 5px;
    top: 17px;
    font-size:19px;
    color: rgb(142, 190, 225);
}

#user-input__radix-select-wrapper {
    position: relative;
    height: 100%;
    /* border: 0.2px solid gray; */
}

#user-input__radix-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

#user-input__radix-list li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.user-input__radix-item {
    cursor: pointer;
    font-size: 20px;
    color: #B0AEAE;
    font-family: Arial, Helvetica, sans-serif;
}

.user-input__radix-item__highlight {
    color: white;
    border-bottom: 3px solid #8EBEE1;
}

#user-input__validation-msg {
    color: #ff0000; /* TODO: should be adjusted later*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    min-height: 25px;
    margin-top: 3px;
    word-wrap: break-word;
}

#user-input__validation-msg-wrapper {
    width: 100%;
}

#window {
    width: 860px;
    margin: 0 auto;
    color: white;
    background: #282b28;
    position: relative;
    border: 1px solid #979797;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.36); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.36);
    border-radius: 4px;
}

#window__content-wrapper {
    padding: 10px 40px 10px 40px;
}

#window__menubar {
    background: #dbdbdb;
    height: 38px;
    text-align: right;
    padding-top: 8px;
    padding-right: 14px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#window__menubar-button {
    border-radius: 22px;
    height: 22px;
    width: 22px;
    background-color: var(--accent-color);
    cursor: pointer;
    border: 1px solid #67725C;
}


@media only screen and (max-width: 750px) {
    #window {
        width: 99%
    }
}

@media only screen and (max-width: 600px) {
    .user-input__bar-wrapper {
        margin-left: 0;
    }

    .ui__button-wrapper {
        flex-direction: column;
    }

    #window__content-wrapper {
        padding: 10px 20px 10px 20px;
    }

    .binTable__highlight-bar {
        left: 10px
    }
}

@media only screen and (max-width: 450px) {
    
    #binTable {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .output-bar__wrapper {
        height: 40px;
    }

    .output-bar__label {
        display: none;
    }

    .output-bar__input, #user-input__bar {
        width: 100px; 
    }

    .user-input__bar-wrapper {
        height: 40px;
    }

    #user-input__radix-select-wrapper {
        display: none;
    }

    .ui__button {
        width: 62px;
        height: 30px;
    }
}

@media only screen and (max-width: 420px) and (max-height: 570px) {
    #window__menubar {
        display: none;
    }
}